# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
env/
.ipynb_checkpoints/

# IDEs
.idea/
.vscode/

# OS / Windows
Thumbs.db
desktop.ini
~$*
*.tmp

# Optional: keep big binaries out
*.mp4
*.pptx
*.pdf
*.mp3
